@charset "UTF-8";
body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: transparent;
        width: auto;
        height: auto;
}
.gcontainer {
    margin: 0em;
    padding: 5px;
    width: 100vw;
    height: 100vh;
    display: grid;
    position: absolute;
    grid-template-rows: 1fr 2fr 0.7fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    '    navone        navtwo'
    '     logo          logo'
    '    search        search'
    'search-buttons search-buttons'
    '    carbon         carbon'
    '  footerone       footertwo';
    grid-gap: 20px;
}
/* Grid-Area Divs */
.navone {
    grid-area: navone;
    align-self: start;
    justify-self: start;
}
.navtwo {
    grid-area: navtwo;
    align-self: start;
    justify-self: end;
    font-size: 12px;
}
.logo {
    grid-area: logo;
    align-self: end;
    justify-self: center;
    padding-top: 50px;
    }
.search {
    grid-area: search;
    align-self: start;
    justify-self: center;
}
.search-buttons {
    display: inline-block;
    grid-area: search-buttons;
    align-self: start;
    justify-self: center;
}
/* Grid Area Divs */

/* Sign-in */
.sign-in {
    display: block-inline;
    background-color: #1a73e8;
    color: white;
    font-size: 13px;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}
.sign-in:hover {
    background-color: #237cf1;
    text-decoration: none;
}
/* Sign-in */

/* Search */
.search-form {
    position: relative;
    border: solid rgba(171, 171, 171, 0.45) 1px;
    background-color: transparent;
    border-radius: 40px;
    width: 570px;
    height: 3.2em;
    align-self: start;
    justify-self: center;
    z-index: 1;
}
.search-form:hover {
    box-shadow: 0 0 3px 1.5px #e4e4e4;
}
.search-icon {
    position: relative;
    grid-area: search;
    align-self: start;
    justify-self: center;
    margin-right: 535px;
    margin-top: 14px;
    color: rgb(114, 114, 114);
    z-index: 3;
}
/* Search */

/* a Selector */
a {
    margin: 1em;
    padding: 1em;
    display: inline;
    text-decoration: none;
    color: rgb(36, 36, 36);
}
a:hover {
    text-decoration: underline;
}
/* a Selector */

/* Search-Buttons */
.buttonone {
    text-align: center;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: rgb(53, 53, 53);
}
.buttontwo {
    text-align: center;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: rgb(53, 53, 53);
}
#buttonone:hover {
    box-shadow: 0 0 2px 1px #d3d3d3;
}
#buttontwo:hover {
    box-shadow: 0 0 2px 1px #d3d3d3;
}
/* Search-Buttons */