@charset "UTF-8";
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: transparent;
        width: auto;
        height: auto;
    }
    .gcontainer {
        margin: 0em;
        padding: 0.5em;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'nav1    nav2'
        'logo   logo'
        'footer1 footer2';
        border: solid black 5px; /*Temporary*/
    }
    .about .store {
        grid-area: nav1;
        align-self: start;
        justify-self: start;
        background-color: red; /* Temporary */
    }
    .gmail {
        grid-area: nav2;
        align-self: start;
        justify-self: end;
        background-color: orange; /* Temporary */
    }
    .images {
        grid-area: nav2;
        align-self: start;
        justify-self: end;
        background-color: yellow; /* Temporary */
    }
    .apps-icon {
        grid-area: nav2;
        align-self: start;
        justify-self: end;
        background-color: green; /* Temporary */
    }
    .sign-in {
        grid-area: nav2;
        align-self: start;
        justify-self: end;
        background-color: #1a73e8;
        color: white;
        width: 60px;
        height: 30px;
        border-radius: 3px;
        padding: 4px 18px 4px 18px;
        text-align: center;
    }
    .sign-in:hover {
        background-color: #237cf1;
    }
    .google-logo {
        grid-area: logo;
        margin: auto;
    }
    div {
        margin: 1em;
        padding: 1em;
        display: inline;
        background-color: transparent;
        text-decoration: none;
        color: rgb(36, 36, 36);
    }
    div:link {
        color: rgb(36, 36, 36);
    }
    div:hover {
        text-decoration: underline;
    }
