body {
    width: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 14px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    font-size: 14px;
    text-decoration: none;
}
/*Grid*/
#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 01fr;
    grid-template-areas: 
    'nav'
    'search'
    'footer';
    margin: 0;
}
nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'navone navtwo';
    align-content: start;
    margin: 10px;
}
article {
    grid-area: search;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10em;
    line-height: 30px;
}
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'footerone footertwo footerthree';
    background-color: #f2f2f2;
    padding-top: 20px;
}
#navone {    
    margin: 10px 15px 0 15px;
    grid-area: navone;
    justify-self: start;
}
#navtwo {
    grid-area: navtwo;
    justify-self: end;
    margin-left: 10px;
}
#footerone {
    grid-area: footerone;
    align-self: end;
    justify-self: start;
    padding: 0 30px 30px 30px;
}
#footertwo {
    grid-area: footertwo;
    align-self: end;
    justify-self: center;
    padding-bottom: 30px;
}
#footerthree {
    grid-area: footerthree;
    align-self: end;
    justify-self: end;
    padding: 0 30px 30px 30px;
}
/*Grid*/

#app-icon {
    top: 0px;
}
#sign-in {
    margin-left: 10px;
    display: inline-block;
    background-color: #1a73e8;
    color: white;
    padding: 5px 23px 8px 23px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}
img {
    position: relative;
    justify-self: center;
    top: 20px;
}
.search-form {
    justify-self: center;
    position: relative;
    border: none;
    background-color: transparent;
    width: 530px;
    height: 3.2em;
    margin-left: 8px;
    top: 23px;
    z-index: 3;
}
.search-box {
    position: relative;
    border: solid rgba(171, 171, 171, 0.45) 1px;
    border-radius: 40px;
    background-color: transparent;
    width: 570px;
    height: 3.2em;
    z-index: 1;
}
#search-icon {
    position: relative;
    color: rgb(114, 114, 114);
    right: 260px;
    top: -39px;
    z-index: 2;
}
#buttons {
    justify-self: center;
    margin-bottom: 15px;
}
.button-style {
    text-align: center;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #f8f9fa;
    font-size: 13.5px;
    color: rgb(53, 53, 53);
    margin-right: 5px;
    margin-left: 5px;
}
#external-link {
    justify-self: center;
}
#vlink {
    margin: 0;
}
a {
    margin: 3px 15px 0 0;
    padding: 0px;
    display: inline;
    text-decoration: none;
    color: rgb(36, 36, 36);
}
.footer {
    color: #6c7075;
}
#leaf {
    width: 13px;
    height: 14px;
    padding: 0 2px 0 0;
    margin-bottom: 19px;
}